{{ partial "header.html" . }}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1>{{ .Title }}</h1>
             <hr class="small">
             <span class="subheading">{{ .Description }}</span>
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ .Content }}
          {{ range first 10 .Data.Pages }}
            <h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
            <p>{{ .Summary }}</p>
          {{ end }}
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
